[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
install = "*"
python-language-server = {extras = ["all"], version = "*"}

[packages]
h5py = "*"
numpy = "*"
matplotlib = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
